body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: tomato;
    padding: 0.2rem;
    color: white;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.food-item {
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 200px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.food-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.food-item h2 {
    font-size: 1.2rem;
    margin: 10px 0;
}

.food-item button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #ff6347;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.food-item button:hover {
    background-color: #e5533e;
}
.header-logo{
    width: 90px;
    height: auto;
    display: block;
    margin-left: 30px;
    border-radius: 5px;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #ff6347;
    color: white;
    position: relative;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}